<div class="knowledge" id="blankcard">
	<h2> Knowledge Card </h2>
	<p> Double click on any article on the left to view more about it </p>
</div>
<div class="knowledge" id = "knowledge" style="display: none">
	<div id="nameDiv">
		<h3 id="name"> Name </h3>
		<hr>
	</div>
	<div id="imageDiv">
		<img id="image" src="" alt="No image found" >
	</div>
	<div id="launchdateDiv">
		<p id="launchdate"> launch date </p>
		<hr>
	</div>
	<div id="abstract div">
		<p><strong> Abstract </strong> </p>
		<p id="abstract"> Abstract </p>
		<hr>
	</div>
	<div id="siteDiv">
		<p id="site"> launch site </p>
		<hr>
	</div>
	<div id="crewDiv">
		<p><strong> Crew Members </strong></p>
		<p id="crew"> crew members </p>
		<hr>
	</div>
	<div id="linksDiv">
		<p> For further info checkout the links below </p>
		<span style="float: left"> Wikipedia: &emsp; </span>
		<a id="wikipedia" target="_blank"> wikipedia </a>
		<span style="float: left"> Wikidata: &emsp; </span>
		<a id="wikidata" target="_blank"> wikidata </a>
		<span style="float: left"> DBPedia: &emsp; </span>
		<a id="dbpedia" target="_blank"> dbpedia </a>
		<hr>
	</div>
</div>