.home_title{
	background-color: #fff;
	padding: 3px;
	text-align: center;
}

#frame{
	position: absolute;
	top: 40px;
	width: 100%;
	clear: left;
	margin-top: 40px;
}
.knowledge{
	width: 25%;
	overflow: auto;
	border: 3px solid black;
	padding: 3px;
}
#constraint_div{
	width: 100%;
	overflow: scroll;
	border: 3px solid black;
	border-radius: 10px;
	margin-top: 5px;
	padding: 3px;
}
#border{
	width: 50%;
	float: left;
	border: 3px solid black;
	padding: 10px;
	margin-right: 5px;
}

#name{
	text-align: center;
}

#image{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50%;
}

#wikipedia{
	display: block;
	text-align: center;
}

#wikidata{
	display: block;
	text-align: center;
}

#dbpedia{
	display: block;
	text-align: center;
}

#p01
{
	color: #fff;
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 10px;
	background: rgba(0,0,0,.6);
    backdrop-filter: grayscale(1) contrast(3) blur(1px);
    width:150px;
    height:20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height:20px;
}
.custom-select
{
   border-radius: 10px;
   height: 24px;
   width: 50px;
   margin-right: auto;
   margin-left: auto;
   display: block;
   text-align: center;
}

.dropdown{
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;  
    flex-wrap: wrap;
}
#wrapper{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	overflow: auto;
	width: 20%;
	padding-left: 5px;
}

#id_launchsite{
	width: 70%;
}


