.home_title{
	background-color: #fff;
	padding: 3px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}


#frame{
	position: absolute;
	top: 40px;
	width: 100%;
	clear: left;
	margin-top: 40px;
}
.knowledge{
	width: 25%;
	overflow: auto;
	border: 3px solid black;
	padding: 3px;
	font-family: Verdana, Geneva, sans-serif;
	border: 1px solid #696969;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#crewDiv
{
	background-color: #ffff99;
   
}
#siteDiv
{
	background-color: #ffffcc;
 
}
#linksDiv
{
	background-color: #ffffcc;

}
#launchdateDiv{
	background-color: #ffffcc;
   
}

#constraint_div{
	width: 100%;
	overflow: scroll;
	border: 3px solid black;
	border-radius: 10px;
	margin-top: 5px;
	padding: 3px;
}
#border{
	width: 50%;
	float: left;
	border: 1px solid #696969;
	padding: 10px;
	margin-right: 5px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

#name{
	line-height:65px;
	text-align: center;
}

#image{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50%;
}

#wikipedia{
	display: block;
	text-align: center;
}

#wikidata{
	display: block;
	text-align: center;
}

#dbpedia{
	display: block;
	text-align: center;
}
#nameDiv{
	background-color: #ffff99;
    
}
#p01
{
	color: #fff;
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 10px;
	background: rgba(0,0,0,.6);
    backdrop-filter: grayscale(1) contrast(3) blur(1px);
    width:150px;
    height:20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height:20px;
}
.custom-select
{
   border-radius: 10px;
   height: 24px;
   width: 50px;
   margin-right: auto;
   margin-left: auto;
   display: block;
   text-align: center;
}

.dropdown{
	display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;  
    flex-wrap: wrap;
}
#wrapper{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	overflow: auto;
	width: 20%;
	padding-left: 5px;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-right: 5px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border: 1px solid #696969;

}

#id_launchsite{
	width: 70%;
}


hr{ 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  style=color:#ffff00;
}
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;

}